<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WBFSManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WBFS_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WBFSManager.Properties.Settings>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadedDrive" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowCovers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="UseWebCovers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CoverLinkNTSC" serializeAs="String">
                <value>http://www.theotherzone.com/wii/ntsc/download.php?file=</value>
            </setting>
            <setting name="CoverLinkNTSCJ" serializeAs="String">
                <value>http://www.theotherzone.com/wii/ntscj/download.php?file=</value>
            </setting>
            <setting name="CoverLinkPAL" serializeAs="String">
                <value>http://www.theotherzone.com/wii/pal/download.php?file=</value>
            </setting>
            <setting name="CoverLinkKOR" serializeAs="String">
                <value>http://www.theotherzone.com/wii/ntscj/download.php?file=</value>
            </setting>
            <setting name="MyDocsCoverDir" serializeAs="String">
                <value>WBFS Manager Covers</value>
            </setting>
            <setting name="TempDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondaryLoadedDrive" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableRarExtraction" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutomaticUpdateChecks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateLink" serializeAs="String">
                <value>http://wbfsmupdates.blogspot.com/feeds/posts/default?alt=rss</value>
            </setting>
            <setting name="SourceWadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CommonKeyPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LoaderFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LoaderOriginalTitleId" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableChannelCreation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PartitionToUse" serializeAs="String">
                <value>-2</value>
            </setting>
            <setting name="OnDriveExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToAddExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DriveToDriveExpanded" serializeAs="String">
                <value>False</value>
            </setting>
        </WBFSManager.Properties.Settings>
        <WBFS_Manager.Properties.Settings>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </WBFS_Manager.Properties.Settings>
    </userSettings>
</configuration>